* {
    margin: 0px;
    text-align: center;
}

.home_page {
    height: 80vh;
    background-color: #D0D0D0;
}

.intro_text {
    font-family: 'montserrat', sans-serif;
    margin: 0px;
    padding-top: 40px;
}

.fab_name {
    font-family: 'MedievalSharp', cursive;
    color: #660000;
    font-weight: bold;
    font-size: larger;
}