.set_page {
    height: auto;
    background-color: #D0D0D0;
    padding-top: 20px;
    padding-bottom: 40px;
}

.current_and_upcoming_sets {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.past_sets {
    display: flex;
    flex-wrap: wrap;
}

.set_name {
    font-family: 'montserrat', sans-serif;
    width: 350px;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #660000;
    text-align: center;
}

.past_sets .set_name {
    width: 100%;
}

.set_img {
    width: 250px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    display: block;
    margin: auto;
}